.p-tabview-nav-link{
    
    color:black;

}
.p-tabview .p-tabview-nav .p-tabview-ink-bar
{

    background-color: #0b0c0c;

}
.p-unselectable-text p-tabview-selected p-highlight{
    background-color: #0b0c0c;
    color: white;
}
.p-unselectable-text{
 color: black;
}
.p-tabview-selected {
    color: black;
}

.p-highlight {
    background-color: #1b1e1e !important;
    color: #ffff !important;
}