.p-tabview-nav-link {
    color: black;

}

.p-tabview-nav-link{
    text-decoration: none;
}

.p-tabview-nav .p-tabview-selected{
    background-color: transparent !important;
}

.p-tabview-ink-bar{
    background-color: white !important;
}